@keyframes popup {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}

/* @keyframes slide {
  0% { left: 0; }
  50% { left: 50%; }
  100% { left: 100%; }
} */

h1 {
  font-size: 5rem;
  position: relative;
  animation: slide 6s normal;
}

main {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form h2 {
  font-size: 2rem;
}

input {
  font-size: 1.2rem;
}

#button {
  width: 5rem;
  display: flex;
  align-self: flex-end;
}

.reviewtop {
  display: flex;
  gap: 15px;
  align-items: center;
}

.refresh {
  height: 2rem;
}

.score {
  width: 27rem;
  height: 22rem;
  border: 9px solid black;
  overflow: scroll;
  animation: popup 5s  normal;
}

p {
  display: flex;
  justify-content: space-around;
}

.left {
  font-size: 2rem;
}

.right {
  font-size: 1.3rem;
}
